!!!
%html
  %head
    %title Buildroot test results
    %style
      = `cat public/vendor/bootstrap/css/bootstrap.min.css`
      = `cat public/css/site.css`
  %body
    %div.container
      = yield


