!!!
%html
  %head
    %title Buildroot test results
  %body
    %style
      = `cat public/vendor/bootstrap/css/bootstrap.min.css`
      = `cat public/css/site.css`
    %div.container
      = yield


