!!!
%html
  %head
    %link{href:"/vendor/bootstrap/css/bootstrap.min.css", rel:"stylesheet"}
    %title Buildroot test results
    %link(rel="stylesheet" href="/css/site.css")
    %link(href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet")
    %script{:type => "text/javascript", :src  => "/vendor/jquery-1.9.1.min.js"}
    %script{:type => "text/javascript", :src  => "/vendor/bootstrap/js/bootstrap.js"}
  %body
    %div.container
      %nav.navbar.navbar-default{role:"navigation"}
        %div.container-fluid
          %div.nabbar-header
            %a.nabbar-brand Buildroot results 
          %ul.nav.navbar-nav
            %li
              %a{href: "/"} Tests List
              %a{href: "/packages/"} Packages
      = yield

